@font-face {
  font-family: 'Isenheim';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(''), url('/res/fonts/Isenheim_Regulier.otf');
}

@font-face {
  font-family: 'Isenheim';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local(''), url('/res/fonts/Isenheim_Fin.otf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local(''), url('/res/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  src: local(''), url('/res/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf');
}
